@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  #root {
    @apply w-full bg-white;
  }
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}
